<!doctype html>
<html>
  <head>
    <script src="/js/expressions.js"></script>
    <script src="/js/arayi-engine.js"></script>
    <link rel="stylesheet" href= "/css/style.css"></link>
    
    <title><%=title%></title>
</head>
<body>
    <h2>Welcome to <%=title%></h2>
    <center>
        <svg id="yin" width="1200" height="700" viewbox="0 0 1200 700"></svg>
        <svg id="yang" width="1200" height="700" viewbox="0 0 1200 700"></svg>
        <div class="footer"><%=footer%></div>
    </center>
    <script src="/js/arayi-ui.js"></script>
</body>
</html>